{
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameline": false,
  "printWidth": 100,
  "jsxSingleQuote": true,
  "endOfLine": "auto"
}
